*{
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}
html{
    font-size: 10px;
    color-scheme: dark !important;
    width: 100%;
}
:root{
    --text-color: #d8d4cf;
    --background-color: #131516;
    --font-family: sans-serif;
}

body {
    color: rgb(153 153 153);
    font-size: 15px;
    line-height: 1.80857;
}

a {
    text-decoration: none;
}

.watch__header {
    background-color: #fff;
    position: relative;
    display: block;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 111;
    padding: 20px 50px !important;
    border-bottom: 1px solid #eee;
}

.navbar-default {
    position: fixed;
    align-items: flex-end;
    justify-content: space-around;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 90px;
    background-color: white;
    display: flex;
    line-height: 50px;
    animation-duration: 1s;
}

.landing {
    width: 1170px;
    padding-right: 12px;
    padding-left: 33px;
    margin: auto;
}

.navbar-header {
    float: left;
}

.navbar-brand {
    margin-left: -24px;
    padding: 0 15px 0 5px;
    color: #777;
}

.navbar-collapse {
    display: block !important;
}

.navbar-collapse .icon {
    display: none;
}

.navbar-right {
    float: right !important;
}

.navbar-right li {
    float: left;
    list-style: none;
}

.navbar-right a {
    display: block;
    padding: 11px 15px; 
    color: #000 !important;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    text-decoration: none !important;
}

.navbar-right span {
    position: absolute;
    color: #2196F3 !important;
    font-size: 22px;
    margin-left: 2px;
}

.social-links {
    margin: 0 -7px;
}

.first-section {
    padding-top: 190px;
    padding-bottom: 220px;
    position: relative;
}

.watch-apple { 
    width: 50%;
}

.big-tagline {
    width: 555px;
    margin-left: -20px;
}

.first-section h2 {
    color: #000;
    font-size: 59px;
    font-weight: 300;
    text-transform: capitalize;
    display: block;
    padding: 30px 0 23px 0;
    position: relative;
    line-height: 120% !important;
}

.lead {
    color: #999;
    font-size: 21px;
    font-weight: 300;
    padding: 0 0 20px;
    line-height: inherit;
}

.btn-dark {
    border: 2px solid #000 !important;
    padding: 10px 40px;
    font-size: 18px;
    border-radius: 50px;
    display: inline-block;
    color: #1f1f1f;
    text-decoration: none !important;
}

.btn-dark:hover {
    color:#1976D2;
}

.slide-right {
    visibility: visible;
    width: 780px;
    position: absolute;
    right: 7%;
    top: -4%;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    animation-name: slideInRight;
}

.slide-right img {
    animation-duration: 1s;
    animation-fill-mode: both;
}

@keyframes slideInRight {
    from {
      -webkit-transform: translate3d(100%, 0, 0);
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}
  

.features-section {
    border-top: 1px solid #eee;
    background-color: #ffffff;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
}

.section-title {
    display: block;
    position: relative;

}

.watch-features {
    margin-left: 25%;
    text-align: center;
}

.section-title h3 {
    font-size: 46px;
    font-weight: 300;
    margin: 0 0 25px;
    padding-right: 18px;
    color: #1f1f1f;
    line-height: 120% !important;
    position: relative;
}

.section-title p {
    color: #999;
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    margin-right: 19px;
}

.watch-lorem {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}

.features-left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    list-style: none;
    padding: 20px 10px;
    animation-name: fadeInLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
}

#features li {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px 0;
    cursor: pointer; 
}

@keyframes fadeInLeft {
    from {
      opacity: 0;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

#features i {
    width: 68px;
    height: 68px;
    line-height: 68px;
    border-radius: 50%;
    font-size: 26px;
    background-color: #f2f3f5;
    text-align: center;
    z-index: 55;
}

#features i:hover {
    background: #1976D2;
    color: #fff;
}

.features-left i {
    margin-left: 20px;
    margin-top: 13px;
}

.features-inner {
    text-align: right;
    margin-left: 70px;
}

#features h4 {
    text-transform: capitalize;
    font-size: 19px;
    position: relative;
    color: #1f1f1f;
    line-height: 120% !important;
}

#features p {
    margin-bottom: 20px;
}

.img-center {
    margin: 20px 0 0 65px;
    vertical-align: middle;
}

.overviews-section {
    background-color: #f2f3f5;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
}

.watch-overviews {
    margin-left: 25%;
    text-align: center;
}

.section-title a {
    display: block;
    font-weight: 600;
    margin: -20px 20px 60px 0px;
    font-size: 18px;
    text-decoration: underline !important;
    color: #2196F3 !important;
}

.overviews-image img {
    display: block;
    margin: auto;
    max-width: 900px;
}

.selects-section {
    border-top: 1px solid #eee;
    background-color: #ffffff;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 120px 0;
}

.watch-style {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

.selects-watch {
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 40px;
    margin-left: -15px;
}

.carousel-watch-outer {
    position: relative;
    overflow: hidden;
}

.product-item {
    position: relative;
    float: left;
    width: 285px;
}

.product-item h3 {
    color: #1f1f1f;
    font-size: 21px;
}

.product-item p {
    margin-top: -5px;
}

.carousel-control {
    top: 60%;
    margin: -20px auto;
    position: absolute;
    width: 100%;
    text-shadow: 0 1px 2px rgb(0 0 0 / 55%);
    opacity: .5;
}

.fa-solid {
    cursor: pointer;
    display: inline-block;
    z-index: 1;
    text-decoration: none;
}

.carousel-prev i {
    width: 60px;
    height: 60px;
    font-size: 55px;
    text-align: center;
    position: absolute;
    right: auto;
    left: -10%;
    color: #f2f3f5;
    margin-top: -40px;
}

.carousel-next i {
    width: 60px;
    height: 60px;
    font-size: 55px;
    line-height: 60px;
    text-align: center;
    position: absolute;
    right: -9%;
    left: auto;
    color: #f2f3f5;
    margin-top: -40px;
}

.tools-section {
    background-color: #000;
    overflow: visible;
    display: block;
    position: relative;
    padding: 120px 0;
}

.image-center {
    animation-name: fadeInUp;
    animation-duration: 1s;
    animation-fill-mode: both;
}

.image-center img {
    position: absolute !important;
    max-width: 740px;
    left: -9%;
    text-align: center;
    margin-top: -205px;
}

@keyframes fadeInUp {
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 100%, 0);
      transform: translate3d(0, 100%, 0);
    }
  
    to {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
}

.watch-tools {
    margin-left: 50%;
    padding-left: 5px;
}

.tools-right {
    text-align: left;
}

.tools-right h1 {
    font-size: 43px;
    font-weight: 300;
    color: #ffffff;
    padding: 20px 0 25px;
    margin : 0;
    line-height: 1 !important;
}

.tools-right p {
    font-style: italic;
    font-size: 18px;
    color: #767676;
    margin-bottom: -14px;
}

.tools-right ul {
    padding: 0;
    display: block;
    margin-bottom: 34px;
    margin-top: 30px;
}

.list-inline {   
    margin-left: -5px;
    list-style: none;
}

.tools-right li {
    color: #ffffff;
    margin-right: 10px;
}

.list-inline li {
    display: inline-block;
    font-size: 15px;
}

.list-inline i {
    color: #2196F3 !important;
    margin-right: 5px;
}

.btn-light {
    display: inline-block;
    padding: 10px 40px;
    font-size: 18px;
    border: 2px solid #ffffff !important;
    color: #ffffff;
    background-color: transparent;
    border-radius: 100px;
    text-decoration: none !important;
}

.copyrights {
    border-top: 1px solid #eeeeee;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    padding: 45px 60px;
    overflow: hidden;
}

.footer-links {
    margin: 0 0 10px;
    text-transform: uppercase;
    padding: 0;
    list-style: none;
}

.footer-links a {
    color: #999;
    display: inline-block;
    line-height: 1.8;
    margin: 5px 11px 0 11px;
    font-size: 15px;
}

.footer-links a:hover {
    color: #337ab7;
    text-decoration: none;
}

.footer-name {
    color: #666;
    padding: 0;
    font-size: 15px;
    font-weight: 300;
    margin-left: -15px;
}

.back-to-top {
    background-color: #000;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    bottom: 75px;
    right: 35px;
    cursor: pointer;
    color: #fff !important;
    text-align: center;
    line-height: 50px;
    font-size: 22px;
    z-index: 9999;
    text-decoration: none !important;
    opacity: 0;
    transition: opacity 0.2s ease-out;
}

.back-to-top:hover {
    background:#337ab7;
    color: #fff;
}

.back-to-top.show {
    opacity: 1;
}











