/* Small tablet to big tablet from 768px to 1023px; */
@media only screen and (max-width: 1023px) {
    .watch_version {
        max-width: 1023px;
        margin: auto;
    }

    .navbar {
        margin-bottom: 0;
    }

    .landing {
        width: 90%;
        padding: 0;
        margin: auto;
    }
    
    .navbar-header {
        float: none;
    }
    
    .navbar-brand {
        position: relative;
        padding-left: 72px; 
    }

    .navbar-toggle {
        display: block;
        border-radius: 5px;
        margin-right: 65px;
        background: #1f1f1f !important;
    }

    .navbar-toggle .icon-bar {
        width: 22px;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-nav {
        float: none !important;
        margin: 10px 35px;
    }

    .navbar-nav li {
        float: none;
    }

    .navbar-nav a {
        font-size: 14px;
        padding: 10px 5px !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }
 
    .navbar-collapse .icon {
        display: block;
        position: absolute;
        color: #fff !important;
        background-color: #1f1f1f;
        right: 0;
        padding: 0px 10px;
        margin-top: -10px;
        margin-right: 110px;
        border: 5px solid transparent;
        border-radius: 4px;
        line-height: 25px;
        font-size: 18px;
    }

    .social-links {
        display: none !important;
    }

    .watch-apple {
        width: 100%;
        text-align: center;
    }

    .big-tagline {
        width: 100%;
        margin: auto;
    }

    .first-section p {
        font-size: 18px;
    }

    .watch-features {
        margin: auto;
    }

    .watch {
        width: 100%;
    }

    .watch::after {
        clear: both;
        display: table;
        content: " ";

    }

    .watch .watch-apple {
        float: left;
    }

    .features-right,
    .slide-right {
        display: none;
    }
    
    .watch-overviews {
        margin: auto;
    }

    .features-left {
        width: 100%;
        float: right; 
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        list-style: none;
        padding: 40px 20px;
        flex-wrap: wrap;
        align-content: flex-end;
    }

    .section-title h3 {
        padding: 0;
    }

    .section-title p {
        margin: auto;
        padding: 0 13px;
    }

    .overviews-section a {
        padding-top: 40px;
    }

    .overviews-image img {
        max-width: 840px;
    }

    .watch-style {
        width: 100%;
        margin: auto;
    }

    .product-item {
        width: 220.333px !important;
    }

    .img-tools {
        display: none;
    }

    .watch-tools {
        margin: auto;
    }

    .carousel-prev i {
        left: 0;
        font-size: 60px;
    }

    .carousel-next i {
        right: 5%;
        font-size: 60px;
    }

    .footer-copyrights {
        padding: 30px;
    }

    .footer-links a {
        font: bold 14px sans-serif;
    }

    .footer-name {
        font-size: 13px;
    }

}

/* Small phone to small tablet  */
@media only screen  and (max-width: 767px) {
    .first-section {
        padding: 70px 5px;
    }

    .watch-features {
        padding: 0px 2px;
    }

    .features-left {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        align-content: space-around;
    }

    #features li {
        display: flex;
        flex-direction: row;
        margin-left: -10px;
    }

    #features i {
        width: 70px;
        height: 66px;
        line-height: 69px;
    }

    .features-inner {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    #features h4 {
        margin-left: -55px;
    }

    #fl-inner {
        display: flex;
        flex-direction: column-reverse;
        align-content: flex-start;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: -177px;
        margin-bottom: 7px !important;
    }

    .inner2 {
        padding-left: 16px;
    }

    .inner3 {
        padding-left: 17px;
    }

    .inner4 {
        padding-left: 29px;
    }

    .inner5 {
        padding-left: 32px;
    }

    .watch-overviews {
        padding: 5px 0;
    }

    .overviews-image img {
        max-width: 650px;
    }

    .product-item {
        width: 220.333px !important;
    }

    .section-title p {
        padding: 0 15px;
    }

    .selects-watch {
        margin: 0;
    }

    .carousel-watch-outer {
        margin-top: 80px;
    }

    .watch-tools {
        padding: 0 15px;
    }
}

/* Small phone from 0 to 480px  */
@media only screen  and (max-width: 480px) {
    .first-section {
        padding: 75px 17px;
    }

    .watch-features {
        margin-top: -19px;
    }

    .section-title h3 {
        padding: 0 12px;
    }

    .section-title p{
        font-size: 14px;
        line-height: 25px;
        padding: 0px 15px;
    }

    #features li {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-left: -10px;
        margin-top: 11px;
        margin-bottom: 11px;
    }

    #features i {
        width: 132px;
        height: 69px;
        line-height: 72px;
    }

    .features-inner {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        flex-wrap: wrap;
        margin-left: 0;
    }

    #features h4 {
        margin-left: 20px;
    }

    #fl-inner {
        margin-left: 20px;
        margin-bottom: 7px !important;
        text-align: left;
    }

    .inner2 {
        padding-left: 1px;
    }

    .inner3 {
        padding-left: 1px;
    }

    .inner4 {
        padding-left: 1px;
    }

    .inner5 {
        padding-left: 1px;
    }

    .overviews-section a {
        margin-left: 10px;
    }

    .overviews-image img {
        max-width: 370px;
    }

    .copyrights {
        padding: 5px 10px;
    }

    .footer-copyrights {
        padding: 29px 10px;
    }

    .footer-links {
        margin: 0 0 5px;
    }

    .footer-name {
        margin-left: 5px;
    }

}